# Python
__pycache__/
*.py[cod]
*$py.class

# Django
*.log
*.pot
*.pyc
local_settings.py
db.sqlite3
media

# Envs
.env
venv/
env/
.venv/

# IDEs
.vscode/
.idea/
*.swp

# Distribution
build/
dist/
*.egg-info/

# Docker
docker-compose.override.yml
.dockerignore

# OS
.DS_Store
Thumbs.db
