version: '3.8'

services:
  web:
    build: .
    command: gunicorn app.wsgi:application --bind 127.0.0.1:8000
    ports:
      - "8000:8000"
    env_file:
      - .env
    volumes:
      - .:/code
    restart: unless-stopped
